* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: rgb(56, 7, 102);
}

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social-media {
    text-align: center;
    padding: 25px;
    color: rgb(10, 10, 70);
}

